.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--day-background);
  color: var(--day-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App.homepage {
  background-color: transparent;
}

.App.night-mode {
  background-color: var(--night-background);
  color: var(--night-text);
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand,
.nav-link {
  font-weight: bold;
}

.form-select {
  cursor: pointer;
}

/* Card styling for ProductList and ProductDetail */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

/* Button styling */
.btn {
  border-radius: 5px;
  font-weight: bold;
}

.btn-outline-light {
  border-color: var(--day-text);
  color: var(--day-text);
}

.btn-outline-light:hover {
  background-color: var(--day-text);
  color: var(--day-background);
}

.night-mode .btn-outline-light {
  border-color: var(--night-text);
  color: var(--night-text);
}

.night-mode .btn-outline-light:hover {
  background-color: var(--night-text);
  color: var(--night-background);
}

/* ListGroup styling for Cart and FreePresets */
.list-group-item {
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-group-item:last-child {
  margin-bottom: 0;
}